body{
    background: radial-gradient(#FF66FF, #EA6264);
}
 
th{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

td{
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

.login{
    font-size: 30px;
    text-align: center;
    padding: 50px;
}
